---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import { URL_BASE } from "@/variables";
import Form from "@/sections/Form.astro";
---

<Layout>
  <main
    class="min-h-screen flex flex-col overflow-clip"
    style={`background-image: url('${URL_BASE}/img/bg/banner1.webp'); background-size: cover; background-position: center;`}
  >
    <Header />
    <section
      class="w-6xl max-w-full mx-auto p-4 flex-1 flex items-center"
    >
      <Form />
    </section>
  </main>
</Layout>
