---
import { URL_BASE } from '@/variables';
---

<header class="p-4 md:p-8">
  <div class="max-w-7xl mx-auto">
    <img class="w-52 h-auto" src={`${URL_BASE}/img/logoabbott_white.webp`} alt="Logo de Abbott">
  </div>
</header>