---
import { URL_BASE } from "@/variables";
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="url-base" content={URL_BASE} />
		<link rel="icon" type="image/png" href={`${URL_BASE}/favicon.png`} />
		<title>Costoefectividad Influvac</title>
	</head>
	<body class="font-brandon">
		<slot />
	</body>
</html>
